.App {
  font-family: sans-serif;
  text-align: center;
}

.monu {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 15rem;
  margin: auto;
  justify-content: space-around;
  margin-top: 1rem;
}

.monu1 {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-weight: 600;
}

.button {
  margin-left: 1rem;
  width: 6rem;
  height: 2.2rem;
  font-size: 22px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
